header{
    display: flex;
    width:100%;
    height:70px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 10px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header  a, .fa-cart-shopping ,.heart , .burger-menu a{
    color: #000;
    text-decoration: none;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.fa-cart-shopping, .heart, .fa-user {
    font-size: 1.2rem;
    cursor: pointer;
}


header a:hover ,.burger-menu a:hover{
    color:#8A8A8E
}

.fa-cart-shopping:hover, .heart:hover ,.fa-user:hover{
    color:#8A8A8E
}

.fa-cart-shopping, a.active .heart {
    color:hsl(26, 100%, 55%)
}


header a.active, .burger-menu a.active{
    color: hsl(26, 100%, 55%);
}


.leftNav > h3{
    font-family: Kumbh Sans;
    font-weight: 400;
    color: hsl(219, 9%, 45%);
    font-size:17px;
    height: 100%;
    padding:37px 0px 37px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.leftNav > h3:hover{
    color:black;
    transform: translateY(-2px);
    font-weight: 600;
}

.leftNav {
    display: flex;
    width:40%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;

}

.rightNav{
    display: flex;
    width:25%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1rem;

}


footer{
    width:100%;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    background-color:white;
    color:black;
    padding:4rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.215);
}
footer a {
    color:black;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
footer button {
    background-color: black;
    color:white;
    border-radius:10px;
    width:100%;
    padding: 0.5rem;
}

footer input {
    padding:0.5rem;
    border: 2px solid black;
    width:100%;
    border-radius: 10px;
}

footer  h1 {
    font-weight: 800;
}

footer h3 {
    font-weight: 600;
}

.footer-sections.info{
    width:25%;
}

.footer-sections.info > h4:hover{
    text-decoration: none;
    cursor:default;
}

.footer-sections{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:0.5rem;
}

.footer-sections > h4{
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
}

.footer-sections > h4:hover{
    text-decoration: underline;
}

.profile-wrapper{
    position: relative;
}

.dropdown{
    position: absolute;
    top: 100%;
    right:0;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    box-sizing: border-box;
    padding: 1rem;
    z-index: 1;
}

.dropdown > h4{
    font-size: 1.2rem;
    font-weight: 600;
}

.dropdown  button{
    padding: 0.5rem 0.7rem;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.dropdown button:hover{
    background-color:hsl(26, 100%, 55%);
    color:black;
}

#register {
    background-color: white;
    color: black;
    border :1px solid gray; 
}

#register:hover{
    background-color: hsl(26, 100%, 55%);
    color: white;
    border :1px solid gray; 
}

.dropdown  hr{
    color:black;
    width:100%
}

.leftNav > h1{
    font-weight: 800;
    font-size: 2.5rem;
}

.log-out{
    display: flex;
    width:fit-content;
    align-items: center;
    justify-items: flex-start;
    gap:0.5rem;
    cursor: pointer;
}

.log-out:hover{
    color:hsl(26, 100%, 55%)
}

.burger-menu{
    display: flex;
    flex-direction: column;
    background-color: white;
    width:100%;
    box-sizing: border-box;
    padding:1rem;
    align-items: flex-start;
    justify-content: flex-start;
    gap:0.5rem;
    flex-wrap: wrap;
}



@media(max-width:500px){
    footer{
        flex-direction: column;
        gap:1rem;
        align-items: center;
        padding: 1rem 1rem;
    }
    .footer-sections{
        width:100%;
    }
    .footer-sections.info{
        width:100%;
    }
    header{
        gap:0;
        justify-content: space-between;
    }

    .leftNav> h1{
        font-size: 2rem;
    }

    .leftNav{
        width:45%;
    }
    .rightNav{
        width:45%;
    }
    .dropdown{
        left:0;
        width:150px;
    }
}

@media(min-width:500px) and (max-width:800px){
    footer{
        flex-wrap: wrap;
        gap:1.5rem;
        
    }
    .footer-sections{
        width:40%
    }
    .footer-sections.info{
        width:40%
    }
    

}

