.home-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:black;
}

.hero, .top-brands, .social-media, .description, .benefit{
    display: flex;
    padding:2rem;
    box-sizing: border-box;
    width: 100%;
}

.hero {
    width: 100%;
    background-color: hsl(26, 100%, 55%);
    align-items: center;
    justify-content: space-around;
}

.hero-context {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.hero-context h1 {
    font-size: 4rem;
}

.log-in-button{
    padding: 20px;
    font-weight: 800;
    color: hsl(26, 100%, 55%);
    background-color: black;
    font-size: 1rem;
    margin-top: 0.5rem;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

.log-in-button:hover {
    transform: none;
    color: black;
    background-color: hsl(26, 100%, 55%);
    border-color: black;
}

.hero img {
    width:40%;
    height: auto;
    border-radius: 30px;
}

.top-brands, .social-media {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.top-brands > p , .social-media > p{
    width: 50%;
    text-align: center;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logos > img {
    width: 60px;
}

.social-media {
    color: white;
    background-color: black;
}

.social-media-icons {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media-icons>i {
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.social-media-icons>i:hover {
    transform: scale(1.1);
}

.description {
    align-items: center;
    justify-content: center;
}

.description-text {
    width: 80%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.description-text>h3 {
    color: hsl(219, 9%, 45%);
    margin: 0rem, 0.5rem;
    font-size: 1rem;
    font-weight: 400;
}

#carouselExample {
    width: 80%;
}

#carouselExample img {
    width: 80%;
    height: 700px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.benefit {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
    gap: 2rem;
}

.benefit span {
    text-decoration: underline;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.benefit span:hover {
    color: hsl(26, 100%, 55%);
}

.benefits-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
}

.left-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    gap: 1rem;
}

.option {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    flex-direction: row;
    width: 80%;
}

.right-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    gap: 1rem;
}

.benefit button {
    background-color: white;
    color: black;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.benefit button:hover {
    transform: translateY(-2px);
    border: 2px solid white;
    background-color: black;
    color: white;
}


@media(max-width:500px){
    .home-main h1{
        font-size: 1.5rem;
        text-align: center;
        font-weight: 600;
    }
    .home-main h2{
        font-size: 1.2rem;
    }
    .home-main p{
        width:100%;
        font-size: 1rem;
    }
    .hero{
        flex-direction: column-reverse;
        gap:1rem;
    }
    .hero-context{
        width: 100%;
        align-items: center;
    }
    .hero img{
        width:100%;
    }
    #carouselExample {
    width: 100%;
    }
    #carouselExample img {
    width: 100%;
    height: 250px;
    }
    .social-media-icons{
        width:80%;
    }
    .description-text{
        width:100%;
    }
    .benefits-options{
        flex-direction: column;
        width:100%;
    }
    .right-options, .left-options{
        width:100%;
    }
    .option{
        width:100%;
        justify-content: center;
        align-items: center;
    }
    .option p {
        width:fit-content;
    }
}

@media(min-width:500px) and (max-width:1200px){
    .hero{
        gap:1rem;
    }
    .hero-context{
        width: 100%;
    }
    .hero img{
        width:40%;
    }
    #carouselExample {
    width: 100%;
    }
    #carouselExample img {
    width: 100%;
    height: 450px;
    }
    .social-media-icons{
        width:50%;
    }
    .description-text{
        width:100%;
    }
    .benefits-options{
        flex-direction: row;
        width:100%;
    }
    .right-options, .left-options{
        width:50%;
    }
}
