body{
margin:0;
box-sizing: border-box;
}

header{
    display: flex;
    width:100%;
    height:70px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 10px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
}

.leftNav > img {
    width:110px;
    height:30px;

}

.leftNav > h3{
    font-family: Kumbh Sans;
    font-weight: 400;
    color: hsl(219, 9%, 45%);
    font-size:17px;
    height: 100%;
    padding:37px 0px 37px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.leftNav > h3:hover{
    color:black;
    transform: translateY(-2px);
    font-weight: 600;
}

.leftNav {
    display: flex;
    width:40%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

.rightNav{
    display: flex;
    width:10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profilePic{
    width:50px;
    height:50px;
}

.profilePic:hover{
    border:3px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

.cartIcon:hover{
    background-color: hsl(26, 100%, 55%);
    padding: 0.5rem;
    border-radius: 10px;
}

main{
   width:100%;
}

.imageModal{
    width:50%;
    
}

.Images{
    display: flex;
    flex-direction: column;
    gap:20px
    
}

.Images  img{
    border-radius: 20px;
    cursor: pointer;
}

.SmallDivImages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SmallDivImages > img{
    width:95px;
    height: 95px;
}

#big{
    width:500px;
    height:500px;
}

.Content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    font-family: Kumbh Sans;
}



.Content >h4{
    color:hsl(219, 9%, 45%);
}

.Content > p{
    color:hsl(219, 9%, 45%);
}

.Price{
    display: flex;
    flex-direction: row;
    width:10%;
    align-items: center;
gap:20px;
}

.Price> h1{
    color:black;
    font-weight: 700;
}

.Price > button {
    color:white;
    background-color: black;
    border:none;
    border-radius: 5px;
    padding:10px;
    font-family: Kumbh Sans;
}

.Content  h5{
 color:hsl(219, 9%, 45%);
 text-decoration: line-through;
 margin-top: 0;
}

.CartOptions{
display: flex;
align-items: center;
width: 100%;
justify-content: space-between;

}

.addItem{
    display: flex;
    flex-direction: row;
    background-color:  hsl(223, 64%, 98%);
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    height: 50px;
    width: 150px;
    justify-content: space-around;
}

.addItem > button{
    color:hsl(26, 100%, 55%);
    font-family: Kumbh Sans;
    font-size: 30px;
border: none;
cursor: pointer;
height:100%;
font-weight: 700;
background-color:  hsl(223, 64%, 98%);
}

.AddToCart{
    display:flex;
    flex-direction: row;
    width:60%;
    height:100%;
background-color: hsl(26, 100%, 55%);
border:none;
border-radius:10px ;
justify-content: center;
gap:25px;
align-items: center;
cursor: pointer;
}

.AddToCart:active{
    background-color: black;
    color:hsl(26, 100%, 55%);

}



.cartDiv{
    width:300px;
    height:250px;
    top:12%;
    padding: 20px;
    right:10%;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:25px;
    flex-direction: column;
    border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.CartNav{
    
width:100%;
padding: 10px;
display: flex;
height:40px;
justify-content: flex-start;
align-items: center;
border-bottom: 1px solid hsl(220, 14%, 75%);
}

.CartNav > h1{
    margin: 0;
    font-family: Kumbh Sans;
    font-size:20px;

}

.cartDiv > p {
     font-family: Kumbh Sans;
    font-size:18px;
    color:hsl(219, 9%, 45%);
    margin-top: 20%;
}

.cartContent{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.cartContent > img{
    width:60px;
    height: 60px;
    border-radius: 5px;
}


#checkOut{
    background-color: hsl(26, 100%, 55%); ;
    border:none;
    padding: 10px;
     font-family: Kumbh Sans;
     border-radius: 10px;
     font-weight: 700;
     width:100%;
height:20%;
}


.product{
    display: flex;
    width:70%;
    height: fit-content;
    flex-direction: column;
}

.product > h3{
    font-size: 15px;
    font-family: Kumbh Sans;
    color:hsl(219, 9%, 45%);
margin:0;
font-weight: 400;
}

#del{
    width:17px;
    height:20px;
}

span{
    color:black;
    font-weight: 700;
}

.leftNav > h1{
    font-weight: 800;
    font-size: 2.5rem;
}

@media (max-width:1200px) {
    header{
        width:100%;
        padding: 1rem;
        justify-content: space-between;
        height: fit-content;

    }
    .leftNav{
        padding: 0;
        width:60%;
        align-items: center;
    }
    .rightNav{
        padding: 0;
        width:20%;
    }
    .leftNav > h1{
        font-size: 1rem;
    }
}

@media (max-width:500px) {
    header{
        width:100%;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap:1rem;
    }
    .leftNav{
        padding: 0;
        width:100%;
        align-items: center;
        margin:0;
        
    }
    .rightNav{
        padding: 0;
        width:100%;
        margin:0;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }


    .leftNav > h1{
        font-size: 1rem;
    }
    .leftNav >h3{
        padding: 0;
    }
}